#count-label {
	font-size: 10em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: block;
	text-align: center;
}

#btn-container {
	text-align: center;
}
.btns {
	font-size: 1.5em;
	padding: 10px 20px;
	margin: 10px 30px;
	color: white;
	background-color: rgb(140, 209, 248);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.25s;
}

.btns:hover {
	background-color: rgb(87, 129, 154);
	
}

.increase {
	color:  blue;
}
.decrease {
	color: red;
}

h2 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font: italic 700 3rem georgia ;
	text-align: center;
	text-transform: uppercase;
	margin-top: 3rem;

}
#btn-roll {
	font-size: 3em;
	padding: 10px 20px;
	border-radius: 5px;
	color: white;
	background-color: lightgreen;
	cursor: pointer;
	transition: background-color 0.25s;
	display: block;
	margin: 50px auto;
	text-align: center;
}
#btn-roll:hover {
	background-color: rgb(152, 237, 6);
}

.labels-roll {
	font-size: 5em;
	text-align: center;
	margin: 95px;
	
}

footer {
	font: normal 500 1em Verdana;
	text-align: right;
	color:blueviolet
}

/* --------------------------------------------------- */
/* body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.counter-container {
    text-align: center;
}

#counter {
    font-size: 2em;
}

.increase {
    color: blue;
}

.decrease {
    color: red;
} */
